@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: map-get($colors, "primary-dark");
}
a, a:hover {
    text-decoration: none;
    color: map-get($colors, 'primary');
}

.t-large {
    font-size: 17px;
}
@function fib($n) {
    @if ($n < 2) {
        @return 1;
    }
    @return fib($n - 1) + fib($n - 2);
}
@function power($number, $power) {
    $exponent: 1;

    @if $power > 0 {
        @for $i from 1 through $power {
            $exponent: $exponent * $number;
        }
    } @else if $power < 0 {
        @for $i from 1 through $power {
            $exponent: $exponent / $number;
        }
    }

    @return $exponent;
}
@mixin border-radius($radius) {
    border-radius: $radius;
}
@mixin shadow {
    box-shadow: 1px 1px 7px #d0d0d0;
}

$size: 8;

.container {
    margin: 0 auto;
    max-width: $desktop-size;
}
@media (max-width: $desktop-size) {
    .container {
        margin-left: $base-line * 3;
        margin-right: $base-line * 3;
    }
}
.mobile {
    visibility: hidden !important;
}
@media (max-width: $desktop-size) {
    .mobile {
        visibility: visible !important;
    }
}

.grid {
    display: grid;
    grid-gap: $base-line * 3;
}
.grid.auto {
    grid-template-columns: repeat(auto-fill, minmax(fib(7) * $base-line, 1fr));
}
.grid.auto.large {
    grid-template-columns: repeat(auto-fill, minmax(fib(7) * $base-line * 2, 1fr));
}
.grid.auto.mini {
    grid-template-columns: repeat(auto-fill, minmax(fib(7) * $base-line / 2, 1fr));
}
.grid.no-gap {
    grid-gap: 0;
}
@for $i from 1 to 12 {
    .grid.column#{$i} {
        $template: null;

        @for $j from 1 through $i {
            $template: $template 1fr;
        }
        grid-template-columns: $template;
    }
}
@media (max-width: $mobile) {
    .grid[class*="column"]:not(.mobile-grid) {
        grid-template-columns: 1fr;
    }
}
@for $i from 1 to $size {
    .pa#{$i} {
        padding: fib($i) * $base-line;
    }
    .ph#{$i} {
        padding-left: fib($i) * $base-line;
        padding-right: fib($i) * $base-line;
    }
    .pv#{$i} {
        padding-top: fib($i) * $base-line;
        padding-bottom: fib($i) * $base-line;
    }
    @each $side in $sides {
        .p#{str-slice($side, 1, 1)}#{$i} {
            padding-#{$side}: fib($i) * $base-line;
        }
    }

    .ma#{$i} {
        margin: fib($i) * $base-line;
    }
    @each $side in $sides {
        .m#{str-slice($side, 1, 1)}#{$i} {
            margin-#{$side}: fib($i) * $base-line;
        }
    }
    .h-#{$i} {
        height: $base-line * fib($i + 1);
    }
    .lh-#{$i} {
        line-height: $base-line * fib($i + 1) !important;
    }
    .w-#{$i} {
        width: $base-line * fib($i + 1);
    }
}
.h-100{
    height: 100%;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.ba {
    border: 1px solid map-get($colors, "secondary-dark");
}
@each $side in $sides {
    .b-#{str-slice($side, 1, 1)} {
        border-#{$side}: 1px solid map-get($colors, "secondary-dark");
    }
}
.smooth {
    border-radius: $base-line / 2;
}
.card {
    border-radius: $base-line;
    width: 100%;
    border: 1px solid map-get($colors, "secondary-dark");
    min-height: fib(8) * $base-line;
    overflow: hidden;
    @extend .animated;
}
.pointer {
    cursor: pointer;
}
.dashed {
    border-style: dashed;
}
.t-r {
    text-align: right;
}
.t-c {
    text-align: center;
}
.t-l {
    text-align: left;
}
.t-large {
    font-size: 18px;
}
.t-small {
    font-size: 10px;
}
.capitalize {
    text-transform: capitalize;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.c-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.animated {
    transition: all 0.2s;
}
.right {
    right: 0;
}
.disabled {
    opacity: 0.4;
    pointer-events: none;
}
label {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: map-get($colors, "primary");
}
input,
textarea {
    width: 100%;
    @extend .smooth;
    border: 1px solid map-get($colors, "secondary-dark");
    padding: $base-line * 1.5;
    outline: 0px;
    background: map-get($colors, "white");
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
textarea {
    height: fib(6) * $base-line;
    resize: none;
}
button {
    outline: none;
}

.error, .error  * {
    border-color: map-get($colors, "alert") !important;
    color: map-get($colors, "alert") !important;
}

.btn {
    border-radius: $base-line / 2;
    display: inline-block;
    padding: $base-line $base-line * 3;
    border: 1px solid map-get($colors, "secondary-dark");
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
}
.btn.icon {
    box-shadow: none;
    border: none;
    padding: $base-line $base-line * 2;
}
.btn + .btn,
.dropdown + .dropdown {
    margin-left: fib(2) * $base-line;
}
.circle {
    border-radius: 50%;
    height: $base-line;
    width: $base-line;
    display: inline-block;
}
.circle::after {
    content: " ";
}
.dropdown > * {
    margin-top: -1px;
    cursor: pointer;
}
.dropdown {
    border-radius: $base-line / 2;
    white-space: nowrap;
}
.inline-block {
    display: inline-block;
}
.image-holder {
    background-repeat: no-repeat;
    background-size: cover;
}
.dib {
    display: inline-block;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
}
.hidden-overflow {
    overflow: hidden;
}
.spinner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    animation: SpinnerAnimationShow 0.25s normal ease, SpinnerAnimationRotation 0.7s linear infinite;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transform-origin: 50% 50%;
    display: inline-block;
}

@keyframes SpinnerAnimationRotation {
    0% {
        transform: scaleX(-1) rotate(0);
    }

    50% {
        transform: scaleX(-1) rotate(-180deg);
    }

    to {
        transform: scaleX(-1) rotate(-1turn);
    }
}
.bs-Spinner-ellipse {
    fill: transparent;
    stroke: #8792a2;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-dasharray: 60;
    stroke-dashoffset: 20;
}
.blocker {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
}
.progress-bar {
    width: 100%;
    height: $base-line;
}
.progress-bar > * {
    transition: all 0.3s;
    height: 100%;
}

.search-wrapper {
    position: relative;
    height: 100%;
    display: inline-block;
    text-align: right;
    width: 100%;
}
.search-wrapper > *{
    width: $base-line * 5;
    float: right;
    transition: all 0.3s;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}
.search-wrapper.active > * {
    width: 100%;
}
.search-wrapper .icon{
    padding-left: $base-line;
    position: absolute;
}

.search-wrapper input {
    opacity: 0;
    padding: 0;
    height: 100%;

    transition: all 0.3s;
    margin: 0;
    padding-left: $base-line * 4;
}
.search-wrapper.active input {
    width: 100%;
    opacity: 1;
}
.date-picker {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: inline-block;
}
.badge {
    @extend .b-red;
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    padding: $base-line / 2;
    border-radius: $base-line * 2;
}
