
$sides: top bottom left right;
$base-line: 8px;
$desktop-size: 1280px;
$mobile: 480px;

$colors : (
    primary-dark: #4C4C4C,
    success: #1ABE1F,
    primary: #20264f,
    secondary: #F6F6F6,
    secondary-light: #f4f4f4,
    secondary-dark: #DFDFDF,
    warning: #F79C44,
    red: #FA0000,
    alert: #FF0000,
    white: #FFF
);
$colors-complement : (
    primary-dark: #fff,
    primary-lighter: #fff,
    success: #fff,
    primary: #fff,
    primary-light: #fff,
    secondary-dark: #fff,
    secondary: #989898,
    secondary-light: #989898,
    green-lighter: #fff,
    green-light: #fff,
    green: #fff,
    orange: #fff,
    orange-light: #fff,
    orange-lighter: #fff,
    red-lighter: #fff,
    red: #fff,
    warning: #fff,
);
@each $name, $color in $colors {
    .b-#{$name} {
        background: $color;
        color: map-get($colors-complement, $name);
    }
    .c-#{$name} {
        color: map-get($colors, $name);
    }
}